/* SASS */
@import '../assets/css/variables';
@import '../assets/css/functions';
@import '../assets/css/mixins';
/* @keyframes */
@import '../assets/css/keyframes';

.slider {
  height: 300px;
  overflow: hidden;
  width: 400px;
}

.slider__wrapper {
  display: flex;
}

.slider__item {
}
