<%- include('/_head', {
  }) %>

<section class="slider">
  <div class="slider__wrapper">
    <img class="slider__item" src="https://source.unsplash.com/400x300/?nature">
    <img class="slider__item" src="https://source.unsplash.com/400x300/?water">
    <img class="slider__item" src="https://source.unsplash.com/400x300/?film">
    <img class="slider__item" src="https://source.unsplash.com/400x300/?animal">
    <img class="slider__item" src="https://source.unsplash.com/400x300/?computer">
  </div>
</section>

</body>

</html>
